<nav id="sidebar" class="sidebar nav-collapse collapse">

    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="">
            <a href="/typography"><i class="fa fa-font"></i> Typography</a></li>
        </li>
        <li class="">
            <a href="/tables"><i class="fa fa-table"></i> Tables</a></li>
        </li>
        <li class="">
            <a href="/notifications"><i class="fa fa-bell"></i> Notifications</a></li>
        </li>

        <li class="">
            <a href="/production-process"><i class="fa fa-magic"></i>Production process</a>
        </li>


        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
                data-parent="#side-nav" href="#elements-collapse"><i class="fa fa-magic"></i> <span class="name">Users & Permissions</span></a>
            <ul id="elements-collapse" class="panel-collapse collapse ">
                <li class=""><a href="/charts">Users</a></li>
                <li class=""><a href="/icons">Permissions</a></li>
            </ul>
        </li>
    </ul>
</nav>    
